/* primary color: #EA2E52
button color #32cd8c
text color #585858
*/


body,html {
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: Thin;
    color: #585858;
    padding:0;
    scroll-behavior: smooth;
    /* font-family: 'Quicksand', sans-serif; */
    /* overflow: hidden; */
    overflow-x: hidden
}

@font-face {
    font-family: brushScript;
    src: url('../font-brush/BRUSHSCI.ttf');
  }

/* common */
nav {
    padding: 1rem;
    background: transparent !important;
    box-shadow: none !important;
    height: auto !important;

}
nav a {
    color: #585858 !important;

}
nav a:hover {
    color: #EA2E52 !important;
} 

h1 {
    font-size: 34px;
}
h2 {
    font-size: 28px; 
}
h3{
    font-size: 22px;
    /* font-weight: 400 !important; */
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}
p {
    font-size: 1.2rem;
    line-height: 2em;
}

h1{
    font-weight: 600;
}
h2,h3,h4 {
    font-weight: 300;
}

.btn {
    padding: 11px 35px;
    border-radius: 25px;
    border:none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 200;
}
.btn:hover {
    box-shadow: 0 0 15px 2px rgba(194, 192, 192, 0.5);
}

.primary-button {
    background: #32cd8c;
    color:#ffff;
}


@keyframes floating1 {
    from { transform: translate(0,  0px) rotate(-15deg);}
    65%  { transform: translate(0, 15px) rotate(-15deg);}
    to   { transform: translate(0, -0px) rotate(-15deg);}  
}

@keyframes floating2 {
    
    from { transform: translate(0,  0px) rotate(15deg);}
    65%  { transform: translate(0, 15px) rotate(15deg);}
    to   { transform: translate(0, -0px) rotate(15deg);}  
      
}


@keyframes wave {
    0% {
        margin-left: 0;
      }
      100% {
        margin-left: -1600px;
      }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }


.top-part {
    height:100vh;
    width:100%;
    position: relative;
    /* color:#fff; */
    background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0.9), rgba(247, 247, 247, 0.9)), url('../img/main-bg.jpg');
    background-size: cover;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
    /* background: rgba(216, 64, 203, 0.6); */
}


.full-header {
    display: flex;
    /* padding: 2rem; */
    align-items: center;
}

.header-left {
    margin-left: 3rem;
    display: inline-block;
}
.header-left a {
    margin-left: 2rem;
} 

.flex {
    display: flex
}

.body-wrapper {
    width: 100%;
    margin:auto;
}

.landing-view{
    width: 100%;
    
}

.landing-view-text {
    text-align: center;
    width: 40%;
    margin-top: 4%;
    margin-left: 8%;
}

.button-wrapper {
    text-align: center;
    margin-top: 3rem;
}

.landing-view-images {
    position: relative;
}

.flip-image-wapper {
    width: 250px;
    padding: 1rem;
    position: absolute;
    border-radius: 5px;
    height: 300px;
    background: #ffff;
    box-shadow: 0 0 23px 9px rgba(201, 201, 201, 0.2);
    /* border: 1px solid rgba(189, 187, 187, 0.3); */
}
.left-flip {
    top: 150px;
    left: 100px;
    animation-name: floating1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 2;

}

.right-flip {
    top: 290px;
    left: 280px;
    animation-name: floating2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 1;

}

.filter-image-title {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1em;
    text-align: center;
    color: #585858;
}

.flip-image-wapper img {
    max-width: 250px;
    /* border-radius: 5px; */
}


.about-us{
    background: #EA2E52;
    margin-top: -5px;
    color: #ffff;
    padding-top: 1%;
    padding-bottom: 1%;
   
}


.about-content {
    width: 60%;
    text-align: center;
    margin:auto;
    line-height: 2em;
}

.wave {
    position: absolute;
    width: 6400px;
    height: 198px;
    bottom: 0;
    left: 0;
    background: url("../img/wave1.svg") repeat-x;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    /* transform: translate3d(0, 0, 0); */
}
.wave:before {
    content: '';
    width: 100%;
    height: 198px;
    position: absolute;
    background: url("../img/wave1.svg") repeat-x;
    top:-20;
    left:0;
    opacity: 0.4;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}



.gallery:before{
    display: block;
    content: ' ';
    position: absolute;
    background-image: url('../img/gallery-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
   min-height: 383px;
   width: 100%;
}

.gallery-options {
    width: 40%;
    position: relative;
    margin:auto;
    padding-top:9rem;
    display: flex;
    justify-content: space-around;
}
.gallery-options h3 {
    font-weight: 300;
    border: 3px;
    padding-bottom: 0.5rem;
}

.gallery-options h3:hover {
    cursor: pointer;
    color: #EA2E52;
}

.gallery-images {
        width: 75%;
        margin:auto;
        margin-top: 4rem;
        /* box-shadow: 0 0 53px 1px rgb(201, 200, 200); */
        line-height: 0;
        padding: 1rem;
    
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           15px; 
}

.gallery-images img {
    width: 100% !important;
  height: auto !important;
  margin-top:1rem; 
}

.divider {
    width: 50%;
    margin:auto;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.divider div {
    width: 32%;
    height: 1px;
    background: rgb(99, 98, 98,0.4);
}

#testimonial {
    background: #fff;
    border-radius: 20px;
   
}

/* .carousel .carousel-item {
    width: 350px !important;
} */

.contact p {
    text-align: center;

}

.contact-tagline{
    padding-top: 2rem;
    color: #EB3C5E;
    font-family: brushScript;
    font-size: 44px;

}

.contact-details {
    display: flex;
    justify-content: space-around;
    width:75%;
    margin: auto;
    margin-top: 3rem;
    padding-bottom: 7rem;
}
.contact-individual-wrapper h3 {
    line-height: 0;
    font-weight: 400;
    color:#EB3C5E;
    font-size: 1.2em;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media p {
    line-height: 1em; 
    font-weight: 300;
}
footer {
    padding:0.5rem;
    background: #F4F4F4;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
footer a {
    font-size: 11px;
    color: rgb(117, 134, 231);
}
footer a:hover {
    color: rgb(25, 55, 226);
}
footer p{
    font-size: 11px;
    text-align: center;
}
 


  /* mobile responsive */
  @media (max-width: 500px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
    .header-left{
        display: none;
        /* margin-left: 0;
        font-size: 11px; */
    }
    .primary-button {
        font-weight: 400;
    }
    .divider{
        width: 80%;
        justify-content: space-between;
    }
    .divider div {
        width: 27%;
    }
    .divider img {
        width: 100px;
    }
    .landing-view {
        margin-top:3rem;
    }
    .landing-view-text {
        width: 95%;
        margin:auto;
        display: block;
    }
    .full-header {
        justify-content: center;
    }
    .full-header img {
        width: 70px;
    }
    .landing-view-text h1{
        font-weight: 300;
        font-size: 30px;
    }
    .wave {
        display: none;
    }
    .button-wrapper {
        margin-top:3rem;
    }
    .landing-view-images{
        display: none; 
    }
    .about-content,.gallery-options,.gallery-images,.contact-details,.contact {
        width: 95%;
        margin:auto;
        padding:0;
    }
    .gallery:before{
        display: none;
    }
   
    .contact-tagline {
        margin:auto;
        line-height: 1em;
    }
    .testimonials {
        width:100%;
    }
    .testimonial-items {
        width:100%;
        margin:0;
       
    }

    .contact-details {
        padding-left: 1rem;
        flex-wrap: wrap;
    }
    .contact-us-line {
        margin-top: 3rem;
    }
    .contact-individual-wrapper {
        width:100%;
        margin-top: 1rem;
    }
    .social-media {
        justify-content: left;
    }
    footer {
        width: 100%;
        padding:0;
        margin:auto;
        margin-top: 3rem;
        flex-wrap: wrap;
        justify-content: left;

    }
    footer p {
        width: 100%;
        padding-left: 1rem;
        text-align: left;
    }
   
    
  }

  @media screen and (min-width:500px) and (max-width:1000px)  {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
    .wave {
        display: none !important;
    }
    .about-content {
        width: 90%;
    
    }
    .contact-tagline {
        width:95%;
    }
    .testimonials {
        width: 100%;
    }
    .testimonial-item {
        max-width:340px;
    }
  }


  