

/* Testimonials Style
-----------------------*/
.testimonials {
	position: relative;
	width: 100%;
	text-align: center;
    overflow: hidden;
    padding: 2rem 0;
}
.testimonials::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.testimonial-items{
	margin: 0 auto;
	padding: 7rem 0;
    transition: transform .6s;
    display: flex;
    justify-content: center;
}
.testimonial-items::after {
	content: '';
	display: table;
	clear: both;
}
.testimonial-item{
   
	list-style: none;
	cursor: pointer;
	max-width: 550px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
	/* transform: scale(0.9); */
	/* transition: transform .6s; */
}
.testimonial-item img {
	width: 6rem;
	border-radius: 50%;
	margin-top: -3rem;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
}
.testimonial-item blockquote {
	width: 80%;
	margin: 0 auto;
	padding: 2rem 0;
}
/* .testimonials li.current_slide {
	transform: scale(1);
	cursor: inherit;
	cursor: initial;
} */
.quote {
	position: relative;
	z-index: 1;
	font-size: 18px;
	line-height: 2.5srem;
	color: #585D6D;
}
.quote::before {
	content: '\201c';
	font-size: 12rem;
	color: #F1AD56;
	opacity: .4;
	font-family: serif;
	font-weight: bold;
	position: absolute;
	top: 1.8rem;
	left: -2rem;
	z-index: -1;
	pointer-events: none;
}





